#gradient-canvas {
  z-index: 0;
  width: 300%;
  height: 220%;
  position: absolute;
  opacity: 1;
  --gradient-color-1: #6ec3f4;
  --gradient-color-2: #3a3aff;
  --gradient-color-3: #d50000;
  --gradient-color-4: #5246cc;

  --gradient-color-1: #6ec3f4; 
  --gradient-color-2: #ffba27; 
  --gradient-color-3: #d50000;  
  --gradient-color-4: #5246cc;

  // --gradient-color-1: #fff; 
  // --gradient-color-2: #000; 
  // --gradient-color-3: #7038ff;  
  // --gradient-color-4: #ffba27;
  
  
  &[data-faded=true] {
    opacity: 0.5;
  }
  &[data-hidden=true] {
    opacity: 0;
  }
}

@media only screen and (max-width: 800px) {

  #gradient-canvas {
    width: 100vw;
    height: 400px;
    transform: rotate(0);
    top: 0;
    left: 0;
  }

}