.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  scrollbar-width: none;
  .data-holder {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 10px;
    bottom: 10px;
    left: 10px;
    right: 10px;
    border-radius: 10px;
    overflow: hidden;
    &[data-webview=true] {
      background: white;
    }
    .text-holder {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      color: white;
      max-width: 50%;
      gap: 50px;
      .title-text {
        display: flex;
        font-size: 80px;
        line-height: 110%;
        letter-spacing: -1px;
        font-weight: 500;
      }
      .subtitle-text {
        display: flex;
        font-size: 48px;
        font-weight: 200;
        color: #e0e0e0;
      }
    }
  }  
}